/*   File:
 * Author: spynix
 */


@charset "utf-8";


.tooltip {
  position: absolute;
  padding: 0;
  margin: 0;
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 1.0em;
  font-weight: normal;
  text-align: left;
  list-style-type: none;
  border: 1px solid #202020;
  background-color: #e0e0e0;
  min-width: 32px;
  min-height: 16px;
  max-width: 320px;
  z-index: 100;
}


.tooltip .tooltip-title {
  padding: 4px;
  font-size: 1.0em;
  font-weight: bold;
  text-align: center;
}


.tooltip .tooltip-content {
  padding: 4px;
  font-size: 0.875em;
  font-weight: normal;
  text-align: left;
}


.tooltip-hook {
  display: inline-block;
  padding: 0;
  margin: 0;
}